body {
    background-color: black;
}
h1 {
    color: rebeccapurple;
    font-family: 'UnifrakturCook';
    font-size: 50px;
    text-align: center;
}
p {
    color: white;
    font-family: 'UnifrakturCook';
    text-align: center;
}
.fa {
  padding: 20px;
  font-size: 50px;
  font-family: 'UnifrakturCook';
  background: black;
  color: purple;
  width: 20px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  float: middle;
  margin: auto;
  
}
.fa:hover {
  color: purple;
  font-size: 50px;
}
.fa-instagram {
  color: white;
  font-size: 50px;
}
