body {
    background-color: black;
}
h1 {
    color: rebeccapurple;
    font-family: 'UnifrakturCook';
    font-size: 22px;
}
p {
    color: white;
    font-family: 'UnifrakturCook';
}
.fa {
  padding: 20px;
  font-size: 30px;
  font-family: 'UnifrakturCook';
  background: black;
  color: purple;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa:hover {
  background: purple;
}
.fa-instagram {
  color: white;
}
