/* FONTS */
@font-face {
  font-family: DaemonesqueRegular;
  src: url(grunglebean.github.io/fonts/daemonesque.regular.ttf);
}


/* ELEMENTS */
body {
    background-color: black;
    margin: 0;
    padding: 0;
}
h1 {
    color: rebeccapurple;
    font-family: 'DaemonesqueRegular';
    font-size: 80px;
    text-align: center;
    padding: 0;
    
}
p {
    font-size: 60px;
    color: rebeccapurple;
    font-family: 'DaemonesqueRegular';
    text-align: center;
    
}
a {
  color: rebeccapurple;
  font-size: 60px;
}



/* CLASSES */
.div  {
  height: 250px;
  background: black;
}
.header {
  background-color: #66339976;
  padding: 20px;
  border-style: groove;
  border-color: rebeccapurple;
}
.icons  {
  text-align: center;
}
.fa {
  padding: 10px;
  font-size: 50px;
  scale: 2;
  background: black;
  color: rebeccapurple;
  width: 20px;
  text-align: left;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
  
}
.fa:hover {
  color: #66339976;
}
.fa-instagram {
  color: rebeccapurple;
}

.border {
  border: 10px double rebeccapurple;
  margin-top: 0;
  padding: 2%;
}